/* ----------------------------------- */
/* CAI ĐẶT CƠ BẢN */
/* ----------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #000;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----------------------------------- */
/* HEADING */
/* ----------------------------------- */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    text-align: center;
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 30px;
}

h2::after {
    display: block;
    content: "";
    background-color: #e67e22;
    height: 2px;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    margin-bottom: 20px;
}

/* ----------------------------------- */
/* HEADER */
/* ----------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.logo {
    height: 100px;
    width: auto;
    margin-top: 20px;
    float: left;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* ----------------------------------- */
/* BUTTON */
/* ----------------------------------- */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-01:link,
.btn-01:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 5px;
}

.btn-01:hover,
.btn-01:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #d46503;
}

.btn-02:link,
.btn-02:visited {
    border: 1px solid #e67e22;
    color: #cf6d17;
}

.btn-02:hover,
.btn-02:active {
    background-color: #cf6d17;
    color: #fff;
}

/* ----------------------------------- */
/* SECTION-FEATURES */
/* ----------------------------------- */

.long-copy {
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-bottom: 30px;
}

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 15px;
}

.box p {
    line-height: 145%;
    font-size: 90%;
    margin-top: 15px;
}

.meals-showcase {
    display: flex;
    width: 100%;
    align-items: center;
}

/* ----------------------------------- */
/* SECTION-MEALS */
/* ----------------------------------- */

.section-meals {
    padding: 0;
}
.meals-showcase li {
    width: 25%;
}

.meals-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meals-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meals-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

/* ----------------------------------- */
/* SECTION-STEPS */
/* ----------------------------------- */

.section-steps {
    background-color: #d6d6d6;
}

.step-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.step-box:last-child {
    padding-left: 3%;
}

.app-work {
    width: 40%;
}

.works-step {
    margin: 50px 0;
}

.works-step div {
    /* display: inline-block; */
    margin-right: 30px;
    width: 50px;
    height: 50px;
    border: 2px solid #e67e22;
    text-align: center;
    border-radius: 50%;
    float: left;
    font-size: 150%;
    padding: 5px;
}

.works-step p {
    font-size: 110%;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 20px;
}

/* ----------------------------------- */
/* SECTION-STEPS */
/* ----------------------------------- */

.box img {
    width: 100%;
    height: auto;
}

.icon-small {
    display: inline-block;
    font-size: 30px;
    color: #e67e22;
    margin-right: 20px;
}

.city-feature a{
    text-decoration: none;
    color: #e67e22;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}

.city-feature a:hover {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ----------------------------------- */
/* SECTION-TESTIMONIALS */
/* ----------------------------------- */

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.testimonials {
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.testimonials-img img {
    width: 50px;
    height: auto;
    border-radius: 200%;
    margin-right: 20px;
}

.section-testimonials .box-p {
    font-style: oblique;
    font-size: 100%;
}

.testimonials-name {
    font-style: oblique;
}

.box-p::before {
    content: "\201C";
    display: block;
    font-size: 400%;
}

/* ----------------------------------- */
/* SECTION-PLANS */
/* ----------------------------------- */

.section-plans {
    background-color: #f5f5f5;
}

.plans-box {
    background-color: #fff;
    border-radius: 7px;
    width: 80%;
    margin-left: 5%;
    box-shadow: 0px 2px 5px #adadad;;
}

.plans-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
    /* text-align: center; */
}

.plans-box div:first-child {
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 7px;
}

.plans-box div:last-child {
    text-align: center;
}

.plans-price {
    font-size: 300%;
    margin-bottom: 15px;
    font-weight: 100;
    color: #e67e22;
}

.plans-price span {
    font-size: 30%;
    font-weight: 300;
}

.plans-box ul {
    list-style: none;
    line-height: 200%;
}

/* ----------------------------------- */
/* SECTION-FORM */
/* ----------------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

/* ----------------------------------- */
/* FOOTER */
/* ----------------------------------- */

footer {
    background-color: #333;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin: 20px;
}

.footer-nav li a:link,
.social-links li a:link,
.footer-nav li a:visited,
.social-links li a:visited {
    text-decoration: none;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover {
    color: #ddd;
}

.social-links li a {
    font-size: 150%;
}

.social-links li a:hover {
    color: #e67e22;
}

.footer {
    text-align: center;
    margin-bottom: 20px;
}



